<!-- src/app/interface/pages/game-detail/game-detail-page.component.html -->

<div class="game-detail-page-container container">
  <app-breadcrumbs [path]="breadcrumbs"></app-breadcrumbs>

  @if (isLoading()) {
    <app-loading-spinner></app-loading-spinner>
  } @else if (!game()) {
    <mat-card class="game-not-found-card">
      <mat-card-content>
        <h2 class="game-not-found-title">{{ translations()['gameNotFound'] }}</h2>
        <p>{{ translations()['gameNotFound'] }}</p>
        <button mat-raised-button color="warn" (click)="backToList()" [attr.aria-label]="translations()['backToList']">
          {{ translations()['backToList'] }}
        </button>
      </mat-card-content>
    </mat-card>
  } @else {
    <!-- Conteúdo principal do jogo sem o mat-card externo -->
    <div class="game-content-wrapper">
      <div class="game-header">
        <!-- Acessando o nome do jogo com base no idioma atual -->
        <h1 class="game-title">{{ game()!.name[currentLanguage()] }}</h1>
        <p class="game-players-type">
          <!-- Acessando players e type com base no idioma atual -->
          {{ game()!.players[currentLanguage()] }} | {{ game()!.type[currentLanguage()] }}
        </p>
      </div>

      <!-- Acessando a descrição do jogo com base no idioma atual -->
      <p class="game-description">{{ game()!.description[currentLanguage()] }}</p>

      <mat-divider></mat-divider>

      <h2 class="how-to-play-title">{{ translations()['howToPlay'] }}</h2>
      <!-- Renderiza o conteúdo Markdown das regras do jogo usando translatedRulesPath -->
      <div class="markdown-content">
        <markdown [src]="game()!.translatedRulesPath"></markdown>
      </div>

      <div class="game-actions">
        <button mat-raised-button color="primary" (click)="backToList()" [attr.aria-label]="translations()['backToHome']">
          {{ translations()['backToHome'] }}
        </button>
      </div>
    </div>
    <app-back-to-top-button></app-back-to-top-button>
  }
</div>
