<div class="game-list-container">
  <h2 class="list-title">{{ listTitle }}</h2>

  <mat-grid-list [cols]="getGridCols()" rowHeight="fit" gutterSize="16px">
    @for (game of games(); track game.id) {
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card class="game-card mat-elevation-z4">
          <mat-card-header>
            <mat-card-title>{{ game.name }}</mat-card-title>
            <mat-card-subtitle>{{ game.players }}</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            [src]="game.image"
            [alt]="game.name"
            class="game-image"
          />
          <mat-card-content class="game-description-content">
            <p>{{ game.description }}</p>
          </mat-card-content>
          <mat-card-actions class="game-card-actions">
            <button
              mat-stroked-button
              color="primary"
              [routerLink]="['/games', game.id]"
            >
              <mat-icon>book</mat-icon> {{ viewRulesButtonLabel }}
            </button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    }
  </mat-grid-list>

  @if (games().length === 0) {
    <div class="no-games-message">
      {{ noGamesMessage }}
    </div>
  }
</div>
