@use "../../../styles.scss" as *;

.home-card {
  width: 90%;
  max-width: 600px;
  text-align: center;
  margin: $spacing-md;
  border-radius: $border-radius-md;

  .card-title {
    font-size: $font-size-xl;
    font-weight: bold;
    color: var(--primary-color);
    margin-bottom: $spacing-sm;
    @media (min-width: $breakpoint-mobile) {
      font-size: $font-size-3xl;
    }
  }

  .card-subtitle {
    font-size: $font-size-sm;
    color: var(--text-color-secondary);
    @media (min-width: $breakpoint-mobile) {
      font-size: $font-size-md + 0.1rem;
    }
  }

  .card-image {
    width: 100%;
    height: auto;
    border-top-left-radius: $border-radius-md;
    border-top-right-radius: $border-radius-md;
    object-fit: cover;
  }

  .card-text {
    margin-top: $spacing-md;
    color: var(--text-color);
    font-size: $font-size-md;
  }

  .card-actions {
    display: flex;
    justify-content: center;
    padding: $spacing-md;

    button {
      padding: $spacing-sm $spacing-xl;
    }
  }
}

@media (min-width: $breakpoint-mobile) {
  .home-card {
    margin: $spacing-lg;
  }
}
