@use "../styles.scss" as *;

.sidenav-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.mat-toolbar {
  height: 56px;
  @media (min-width: $breakpoint-mobile) {
    height: 64px;
  }
}

.app-title {
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  margin-right: auto;
  @media (min-width: $breakpoint-mobile) {
    font-size: 2rem;
  }
}

.spacer {
  flex: 1 1 auto;
}

.router-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $spacing-md;
  box-sizing: border-box;
  background-color: var(--background-color);
  color: var(--text-color);

  @media (min-width: $breakpoint-mobile) {
    padding: $spacing-lg;
  }
}

.footer {
  padding: $spacing-md;
  text-align: center;
  background-color: var(--primary-color);
  color: #fff;
  font-size: $font-size-sm;

  a {
    color: var(--accent-color);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.mobile-sidenav {
  width: 250px;
  .mat-list-item {
    height: 48px;
    display: flex;
    align-items: center;
    padding: 0 $spacing-md;
    mat-icon {
      margin-right: $spacing-sm;
    }
  }
}
