/* src/app/interface/pages/home/home-page.component.scss */

@use "styles.scss" as *; // Importa as variáveis e mixins globais

.home-page-container {
  text-align: center;
  padding-top: $spacing-xl; // Espaçamento no topo
}

.page-title {
  font-size: $font-size-4xl;
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: $spacing-xl;

  @media (max-width: $breakpoint-mobile) {
    font-size: $font-size-3xl;
    margin-bottom: $spacing-lg;
  }
}

.all-games-button-container {
  margin-top: $spacing-xl * 2; // Mais espaço abaixo do carrossel
  margin-bottom: $spacing-xl;

  .view-all-games-button {
    padding: $spacing-sm $spacing-md; /* Padding refinado, igual ao botão de detalhes */
    font-size: $font-size-md; /* Tamanho do texto do botão, igual ao botão de detalhes */
    border-radius: $border-radius-sm;
    box-shadow: $shadow-md;
    transition: background-color 0.2s ease, box-shadow 0.2s ease, transform 0.2s ease;
    background-color: var(--primary-color); /* Cor do botão azul como na imagem */
    color: var(--primary-text-color); /* Cor do texto do botão */

    &:hover {
      background-color: var(--button-hover-background-color); /* Usa a nova variável CSS */
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
      transform: translateY(-2px);
    }

    @media (max-width: $breakpoint-mobile) {
      width: 100%;
      font-size: $font-size-sm; /* Tamanho menor para mobile */
      padding: $spacing-xs $spacing-sm; /* Padding ajustado para mobile */
    }
  }
}

.no-games-message {
  font-size: $font-size-lg;
  color: var(--text-color-secondary);
  text-align: center;
  margin-top: $spacing-xl;
  padding: $spacing-md;
  background-color: var(--card-background-color);
  border-radius: $border-radius-md;
  box-shadow: $shadow-md; // Usando a variável SCSS
}
