<!-- src/app/interface/pages/home/home-page.component.html -->

<div class="home-page-container container">
  <h1 class="page-title">{{ translations()["featuredGames"] }}</h1>

  @if (isLoading()) {
    <app-loading-spinner></app-loading-spinner>
  } @else if (featuredGames() === null || featuredGames()!.length === 0) {
    <p class="no-games-message">{{ translations()["noFeaturedGames"] }}</p>
  } @else {
    <app-game-carousel
      [games]="featuredGames()"
      [translations]="translations()"
      [currentLanguageInput]="currentLanguage()"
      (selectGame)="navigateToGameDetail($event)"
    ></app-game-carousel>

    <div class="all-games-button-container">
      <button
        mat-raised-button
        color="accent"
        (click)="navigateToAllGames()"
        [attr.aria-label]="translations()['showAllGames']"
      >
        {{ translations()["showAllGames"] }}
      </button>
    </div>
  }
</div>
