@if (game(); as gameData) {
  <mat-card class="game-card" [routerLink]="['/game', gameData.id]">
    <img
      mat-card-image
      [src]="gameData.image"
      [alt]="'Imagem do jogo ' + gameData.name"
    />
    <mat-card-header>
      <mat-card-title>{{ gameData.name }}</mat-card-title>
      <mat-card-subtitle>{{ gameData.players }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{ gameData.description }}</p>
      <mat-chip-listbox aria-label="Categorias do jogo">
        @for (category of gameData.categories; track category) {
          <mat-chip>{{ category }}</mat-chip>
        }
      </mat-chip-listbox>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="primary">Aprender a Jogar</button>
    </mat-card-actions>
  </mat-card>
}
